<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body style="background-color:gold;">
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
      <div class="menu">
        <a href="/update" class="button warning">Update Tweets</a>
        <a href="/reset" class="button error">Reset Database</a>
      </div>
    </nav>
    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <h1 style="font-size:85px;" style="text-align:center;">Welcome to TwitOff!</h1>
      <p style="font-size:48px">
        &#9994; &#128525; &#128516; &#129311; &#128151; 
      <p style="font-size:30px">An API that takes two Twitter users and 
        <br>compares which is more probable to have that 'Tweet'. <br> Cool, Right?!
      </p>
      <div>
        <h2>Users</h2>
        {% for user in users %}
        <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}
      </div>
      {% endblock %}
    </article>
    <!-- Optional stretch - check out some front-end JavaScript! -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->
    <h1 title="I'm a header" style="color:white;" style="font-family:courier;">My First Heading</h1>
    <p style="color:purple;">My First paragraph.</p>
    <p >This is a <br> paragraph with a line break.</p>
    <p >HTML images are defined with the img tag, and the filename of the image source is specified in the src attribute:</p>
    <p >The alt attribute should reflect the image content, so users who cannot see the image gets an understanding of what the image contains:</p>
    <img src="https://images.freeimages.com/images/small-previews/2ec/moon-1408326.jpg" alt= "Moon" width="550" height="400">
    
    <h2 title="I'm a header" style="color:white;" style="font-family:courier;">My Second Heading</h1>
    <p style="color:purple;">My Second paragraph.</p>
    <p >The style attribute is used to add styles to an element, such as color:</p>
    <p >This is a <br> paragraph with a line break.</p>
    
    <h3 title="I'm a header" style="color:white;" style="font-family:courier;">My Third Heading</h1>
    <p style="color:purple;">My Third paragraph.</p>
    <p >This is a <br> paragraph with a line break.</p>
    <p >
      This paragraph
      contains a lot of lines
      in the source code,
      but the browser
      ignores it.
      </p>
      
      <p >
      This paragraph
      contains         a lot of spaces
      in the source         code,
      but the        browser
      ignores it.
      </p>
    
      <h4 title="I'm a header" style="color:white;" style="font-family:courier;">My Fouth Heading</h1>
    <p style="color:purple;">My Fourth paragraph.</p>
    
    <h5 title="I'm a header" style="color:white;" style="font-family:courier;">My Fifth Heading</h1>
    <p style="color:purple;">My Fifth paragraph.</p>


    <p >HTML links are defined with the a tag:</p>
    <p >HTML images are defined with the img tag:</p>
    <h6 title="I'm a header" style="color:white;" style="font-family:courier;">Github Link</h2>
    <a href="https://github.com/dondreojordan/twitoff">Want to see my GitHub?</a>






    <<br>img src="https://images.freeimages.com/images/large-previews/407/moon-phases-on-black-background-1634899.jpg" alt="Twitoff" width="625" height="95">

  </body>
</html>