<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body style="background-color:gold;">
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>
      <!-- responsive-->
      <input id="bmenub" type="checkbox" class="show">
      <label for="bmenub" class="burger pseudo button">Menu</label>
      <div class="menu">
        <a href="/update" class="button warning">Update Tweets</a>
        <a href="/reset" class="button error">Reset Database</a>
      </div>
    </nav>
    <article class="flex two" style="padding: 3em 1em;">
      {% block content %}
      <h1 style="font-size:95px;" style="text-align:center;">Welcome to TwitOff!</h1>
      <div>
        <h2>Users</h2>
        {% for user in users %}
        <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}
      </div>
      {% endblock %}
      <p style="font-size:28px">An API that takes two Twitter users and 
        <br>compares which is more probable to have that 'Tweet'... Cool, Right?!
        <p style="font-size:48px">
          &#9994;  &#128525;  &#128516;  &#129311;  &#128151; 
      </p>
    </article>
    <!-- Optional stretch - check out some front-end JavaScript! -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/umbrellajs"/> -->


    <h1 title="I'm a header" style="color:white;" style="font-family:courier;">331, Web Application Development with Flask</h1>
    <p style="color:purple;"> 
      What went well (in the context of working on the assignment) today?
      <br>
      <br>
      <br>What was particularly interesting or surprising about the topic(s) today?
      <br>
      <br>
      <br>What was the most challenging part of the work today, and why?
      <br>
      <br>
    </p>
    <p >This is a <br> paragraph with a line break.</p>
    <p >HTML images are defined with the img tag, and the filename of the image source is specified in the src attribute:</p>
    <p >The alt attribute should reflect the image content, so users who cannot see the image gets an understanding of what the image contains:</p>
    <img src="https://images.pexels.com/photos/1161547/pexels-photo-1161547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt= "Moon" width="550" height="400">
    

    <h2 title="I'm a header" style="color:white;" style="font-family:courier;">332, Consuming Data from and API</h2>
    <p style="color:purple;"> 
      What went well (in the context of working on the assignment) today?
      What was particularly interesting or surprising about the topic(s) today?
      What was the most challenging part of the work today, and why?
    </p>
    <p >The style attribute is used to add styles to an element, such as color:</p>
    <p >This is a <br> paragraph with a line break.</p>
    

    <h3 title="I'm a header" style="color:white;" style="font-family:courier;">333, Addiding Data Scince to a Web Application</h3>
    <p style="color:purple;"> 
      What went well (in the context of working on the assignment) today?
      What was particularly interesting or surprising about the topic(s) today?
      What was the most challenging part of the work today, and why?
    </p>

      <h4 title="I'm a header" style="color:white;" style="font-family:courier;">334, Web Application Deployment</h4>
      <p style="color:purple;"> 
        What went well (in the context of working on the assignment) today?
        What was particularly interesting or surprising about the topic(s) today?
        What was the most challenging part of the work today, and why?
      </p>

    <p >HTML links are defined with the a tag:</p>
    <p >HTML images are defined with the img tag:</p>
    <h6 title="I'm a header" style="color:white;" style="font-family:courier;">Github Link</h2>
    <a href="https://github.com/dondreojordan/twitoff"> Want to see my GitHub?</a>

    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.greenmtn.edu%2Fwordpress%2Fwp-content%2Fuploads%2F22950856_blmvt.jpg&f=1&nofb=1" alt="Twitoff" width="1400" height="200">
  </body>
</html>